.allu-arjun-box{
  /*  background-image: url("allu-arjun-pic-PhotoRoom.png");
    background-repeat: no-repeat;*/
    background-color:#DA291B;
    width: 100%;
    height: auto;
    background-size: auto 100%;
    position:relative;
    top:100px;

    display: flex;
    
}
.allu-arjun-pic{
    width: 30%;
    height: auto;
    min-width: 100px;

}

.allu-arjun-text{
  position: absolute;
  top:141px;
  left:275px;
  font-family: arial;
  font-size: 35px;
  font-weight: 800;
  color: white;
}